.page {
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.not__title {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
}

.not__text {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 30px;
}


